html, body {
  height: 100%;
  width: 100%;
}

div.wrapper {
  display: table;
  width: 100%;
  height: 100%;      
}

div.centerBox {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
    
#timer {
  font-size: 50px;      
}

#save {
  margin-top: 10px;
  font-size: 100px;
}